data/
!-data/Info

synthetic/
*.Identifier
tabscm/models
syn_data_samples/
syn_data_eval/
baselines/ctgan/ckpt
baselines/goggle/ckpt
baselines/tabddpm/ckpt
baselines/tabsyn/ckpt
baselines/tabsyn/vae/ckpt
Ablation/
Interventions/

eval/density
eval/mle


